﻿<template>
    <div>
        <div v-f="isAddPerusahaan === false">
            <button class="btn btn-primary" type="button" @click="addNewPerusahaan">Add new data</button>
            <input type="text" v-model="filterByName" @change="fetch()"/>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nama Perusahaan</th>
                        <th scope="col">Jumlah Perusahaan</th>
                        <th scope="col">Tools</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(DataPerusahaan, index) in perusahaan" :key="index">
                        <td>{{DataPerusahaan.namaPerusahaan}}</td>
                        <td>{{DataPerusahaan.jumlahPerusahaan}}</td>
                        <td>
                            <a :href="'/Perusahaan/Update?perusahaanID='+DataPerusahaan.perusahaanID" class="btn btn-warning"><fa-icon icon ="edit"></fa-icon>Edit</a>
                            <button class="btn btn-danger" @click="deletePerusahaan(DataPerusahaan)">
                                <fa-icon icon ="trash-alt"></fa-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="cold-md-12">
                    <ul class="pagination" v-for="page in totalPage">
                        <li class="page-item">
                            <button @click="changePage(page)">{{page}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div v-if="isAddPerusahaan === true">
            <validation-observer ref="observer" v-slot="{validate,valid}">
                <form method="post" @submit.prevent="insertPerusahaan">
                    <label class="col-form-label">Nama Perusahaan</label>
                    <validation-observer name="Nama Perusahaan" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newPerusahaan.namaPerusahaan">
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-observer>
                    <br />

                    <label class="col-form-label">Jumlah Perusahaan</label>
                    <validation-observer name="Jumlah Perusahaan" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newPerusahaan.jumlahPerusahaan">
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-observer>
                    <br />
                    <button class="btn btn-primary" type="submit">
                    Submit
                    </button>
                </form>
            </validation-observer>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { PerusahaanService, PerusahaanModel } from '../Services/NSwagService';
    import { ValidationObserver } from 'vee-validate';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: ListPerusahaan) {
            await this.getPerusahaan();
        }
    })

    export default class ListPerusahaan extends Vue {
        service: PerusahaanService = new PerusahaanService();

        perusahaan: PerusahaanModel[] = [];

        isAddPerusahaan = false;

        newPerusahaan: PerusahaanModel = {
            namaPerusahaan: '',
            jumlahPerusahaan: 0
        }

        filterByName = '';
        pageIndex = 1;
        itemPerPage = 3;
        totalData = 1;
        totalPage = 1;

        async fetch(): Promise<void> {
            this.totalData = await this.service.totalData();
            this.totalPage = Math.ceil(this.totalData / this.itemPerPage);

            this.perusahaan = await this.service.filterData(this.pageIndex, this.itemPerPage, this.filterByName);
        }

        async changePage(page: number): Promise<void> {
            this.pageIndex = page;
            await this.fetch();
        }

        async getPerusahaan(): Promise<void> {
            this.perusahaan = await this.service.allPerusahaan();
        }

        async insertPerusahaan(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }
            await this.service.insertNewPerusahaan(this.newPerusahaan.perusahaanID, this.newPerusahaan.namaPerusahaan, this.newPerusahaan.jumlahPerusahaan);
            await this.getPerusahaan();

            swal.fire({
                title: 'Yeayy!',
                icon: 'success',
                text: 'Success insert new data employee.'
            });
            this.isAddPerusahaan = false;
        }

        addNewPerusahaan(): void {
            this.isAddPerusahaan = true;
            return;
        }

        async updatePerusahaan(perusahaanID): Promise<void> {
            await this.service.updatePerusahaan(perusahaanID);
            await this.getPerusahaan();
            swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })
        }

        async deletePerusahaan(perusahaanID): Promise<void> {
            await this.service.deletePerusahaan(perusahaanID);
            await this.getPerusahaan();

            swal.fire({
                title: '~~yeayy~~',
                icon: 'success',
                text: 'Success delete perusahaan' + perusahaanID
            })
        }

    }
</script>
