﻿<template>
    <div>
        <validation-observer ref="observer" v-slot="{validate,valid}">
            <form method="post" @submit.prevent="updatePerusahaan">
                <label class="col-form-label">Nama Perusahaan</label>
                <validation-observer name="Nama Perusahaan" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newPerusahaan.namaPerusahaan">
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-observer>
                <br />

                <label class="col-form-label">Jumlah Perusahaan</label>
                <validation-observer name="Jumlah Perusahaan" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newPerusahaan.jumlahPerusahaan">
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-observer>
                <br />

                <button class="btn btn-primary" type="submit">
                    <fa-icon icon="check"></fa-icon>
                    Submit
                </button>
            </form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { PerusahaanService, PerusahaanModel } from '../Services/NSwagService';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: UpdatePerusahaan) {
            await this.getSpecificPerusahaan()
        }
    })
    export default class UpdatePerusahaan extends Vue {
        service: PerusahaanService = new PerusahaanService();

        newPerusahaan: PerusahaanModel = {
            namaPerusahaan: '',
            jumlahPerusahaan: 0
        }

        async updatePerusahaan(): Promise<void> {
            swal.fire({
                title: 'Are you sure?',
                text: "Update this perusahaan data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.service.updatePerusahaan(this.newPerusahaan);
                    swal.fire(
                        'Updated!',
                        'Your file has been updated.',
                        'success'
                    )
                }
            })
        }

        async getSpecificPerusahaan(): Promise<void> {
            const urlParams = new URLSearchParams(window.location.search);
            const perusahaanID = urlParams.get('perusahaanID')?.valueOf();
            this.newPerusahaan = await this.service.getSpecificData(perusahaanID);
        }
    }
</script>
